body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
.div_speed{
    float: left;
}
.div_image{
    width: 200px;
    border-radius: 100px;
}
#speed, #volume{
    font-size: 20px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.play{
    width: 130px;
    font-size: 20px;
}
canvas{
    border: white 2px solid;
    border-radius: 20px;
}